@font-face
{
   font-family: "../fonts/Material Icons";
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/MaterialIcons-Regular.eot);
   src: local('../fonts/Material Icons'),
        local('../fonts/MaterialIcons-Regular'),
        url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
        url(../fonts/MaterialIcons-Regular.woff) format('woff'),
        url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons
{
   font-family: "../fonts/Material Icons";
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   -moz-osx-font-smoothing: grayscale;
   font-feature-settings: "liga";
}
@-webkit-keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@-moz-keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@-o-keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@-ms-keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@-webkit-keyframes animate-rotate-in-left
{
   0% { -webkit-transform: translate(-1000px,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   100% { -webkit-transform: translate(0px,0px) rotate(360deg) ;  }
}
@-moz-keyframes animate-rotate-in-left
{
   0% { -moz-transform: translate(-1000px,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   100% { -moz-transform: translate(0px,0px) rotate(360deg) ;  }
}
@-o-keyframes animate-rotate-in-left
{
   0% { -o-transform: translate(-1000px,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   100% { -o-transform: translate(0px,0px) rotate(360deg) ;  }
}
@-ms-keyframes animate-rotate-in-left
{
   0% { -ms-transform: translate(-1000px,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   100% { -ms-transform: translate(0px,0px) rotate(360deg) ;  }
}
@keyframes animate-rotate-in-left
{
   0% { transform: translate(-1000px,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   100% { transform: translate(0px,0px) rotate(360deg) ;  }
}
@-webkit-keyframes transform-lightspeed-in
{
   0% { -webkit-transform: translate(100%,0px) rotate(0deg) skewX(-30deg) ; opacity: 0;  }
   60% { -webkit-transform: translate(-20%,0px) rotate(0deg) skewX(30deg) ; opacity: 1;  }
   80% { -webkit-transform: translate(0px,0px) rotate(0deg) skewX(-15deg) ; opacity: 1;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) skewX(0deg) ; opacity: 1;  }
}
@-moz-keyframes transform-lightspeed-in
{
   0% { -moz-transform: translate(100%,0px) rotate(0deg) skewX(-30deg) ; opacity: 0;  }
   60% { -moz-transform: translate(-20%,0px) rotate(0deg) skewX(30deg) ; opacity: 1;  }
   80% { -moz-transform: translate(0px,0px) rotate(0deg) skewX(-15deg) ; opacity: 1;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) skewX(0deg) ; opacity: 1;  }
}
@-o-keyframes transform-lightspeed-in
{
   0% { -o-transform: translate(100%,0px) rotate(0deg) skewX(-30deg) ; opacity: 0;  }
   60% { -o-transform: translate(-20%,0px) rotate(0deg) skewX(30deg) ; opacity: 1;  }
   80% { -o-transform: translate(0px,0px) rotate(0deg) skewX(-15deg) ; opacity: 1;  }
   100% { -o-transform: translate(0px,0px) rotate(0deg) skewX(0deg) ; opacity: 1;  }
}
@-ms-keyframes transform-lightspeed-in
{
   0% { -ms-transform: translate(100%,0px) rotate(0deg) skewX(-30deg) ; opacity: 0;  }
   60% { -ms-transform: translate(-20%,0px) rotate(0deg) skewX(30deg) ; opacity: 1;  }
   80% { -ms-transform: translate(0px,0px) rotate(0deg) skewX(-15deg) ; opacity: 1;  }
   100% { -ms-transform: translate(0px,0px) rotate(0deg) skewX(0deg) ; opacity: 1;  }
}
@keyframes transform-lightspeed-in
{
   0% { transform: translate(100%,0px) rotate(0deg) skewX(-30deg) ; opacity: 0;  }
   60% { transform: translate(-20%,0px) rotate(0deg) skewX(30deg) ; opacity: 1;  }
   80% { transform: translate(0px,0px) rotate(0deg) skewX(-15deg) ; opacity: 1;  }
   100% { transform: translate(0px,0px) rotate(0deg) skewX(0deg) ; opacity: 1;  }
}
@-webkit-keyframes transform-scale-in
{
   0% { opacity: 0; -webkit-transform: rotate(0deg) scale(0,0) ;  }
   100% { opacity: 1; -webkit-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-moz-keyframes transform-scale-in
{
   0% { opacity: 0; -moz-transform: rotate(0deg) scale(0,0) ;  }
   100% { opacity: 1; -moz-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-o-keyframes transform-scale-in
{
   0% { opacity: 0; -o-transform: rotate(0deg) scale(0,0) ;  }
   100% { opacity: 1; -o-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-ms-keyframes transform-scale-in
{
   0% { opacity: 0; -ms-transform: rotate(0deg) scale(0,0) ;  }
   100% { opacity: 1; -ms-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@keyframes transform-scale-in
{
   0% { opacity: 0; transform: rotate(0deg) scale(0,0) ;  }
   100% { opacity: 1; transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-webkit-keyframes transform-swing
{
   0% { -webkit-transform: rotate(0deg) ;  }
   20% { -webkit-transform-origin: top center; -webkit-transform: rotate(15deg) ;  }
   40% { -webkit-transform-origin: top center; -webkit-transform: rotate(-10deg) ;  }
   60% { -webkit-transform-origin: top center; -webkit-transform: rotate(5deg) ;  }
   80% { -webkit-transform-origin: top center; -webkit-transform: rotate(-5deg) ;  }
   100% { -webkit-transform-origin: top center; -webkit-transform: rotate(0deg) ;  }
}
@-moz-keyframes transform-swing
{
   0% { -moz-transform: rotate(0deg) ;  }
   20% { -moz-transform-origin: top center; -moz-transform: rotate(15deg) ;  }
   40% { -moz-transform-origin: top center; -moz-transform: rotate(-10deg) ;  }
   60% { -moz-transform-origin: top center; -moz-transform: rotate(5deg) ;  }
   80% { -moz-transform-origin: top center; -moz-transform: rotate(-5deg) ;  }
   100% { -moz-transform-origin: top center; -moz-transform: rotate(0deg) ;  }
}
@-o-keyframes transform-swing
{
   0% { -o-transform: rotate(0deg) ;  }
   20% { -o-transform-origin: top center; -o-transform: rotate(15deg) ;  }
   40% { -o-transform-origin: top center; -o-transform: rotate(-10deg) ;  }
   60% { -o-transform-origin: top center; -o-transform: rotate(5deg) ;  }
   80% { -o-transform-origin: top center; -o-transform: rotate(-5deg) ;  }
   100% { -o-transform-origin: top center; -o-transform: rotate(0deg) ;  }
}
@-ms-keyframes transform-swing
{
   0% { -ms-transform: rotate(0deg) ;  }
   20% { -ms-transform-origin: top center; -ms-transform: rotate(15deg) ;  }
   40% { -ms-transform-origin: top center; -ms-transform: rotate(-10deg) ;  }
   60% { -ms-transform-origin: top center; -ms-transform: rotate(5deg) ;  }
   80% { -ms-transform-origin: top center; -ms-transform: rotate(-5deg) ;  }
   100% { -ms-transform-origin: top center; -ms-transform: rotate(0deg) ;  }
}
@keyframes transform-swing
{
   0% { transform: rotate(0deg) ;  }
   20% { transform-origin: top center; transform: rotate(15deg) ;  }
   40% { transform-origin: top center; transform: rotate(-10deg) ;  }
   60% { transform-origin: top center; transform: rotate(5deg) ;  }
   80% { transform-origin: top center; transform: rotate(-5deg) ;  }
   100% { transform-origin: top center; transform: rotate(0deg) ;  }
}
@-webkit-keyframes vanish-in
{
   0% { -webkit-transform: rotate(0deg) scale(2,2) ; opacity: 0; -webkit-transform-origin: 50% 50%;  }
   100% { -webkit-transform: rotate(0deg) scale(1,1) ; opacity: 1; -webkit-transform-origin: 50% 50%;  }
}
@-moz-keyframes vanish-in
{
   0% { -moz-transform: rotate(0deg) scale(2,2) ; opacity: 0; -moz-transform-origin: 50% 50%;  }
   100% { -moz-transform: rotate(0deg) scale(1,1) ; opacity: 1; -moz-transform-origin: 50% 50%;  }
}
@-o-keyframes vanish-in
{
   0% { -o-transform: rotate(0deg) scale(2,2) ; opacity: 0; -o-transform-origin: 50% 50%;  }
   100% { -o-transform: rotate(0deg) scale(1,1) ; opacity: 1; -o-transform-origin: 50% 50%;  }
}
@-ms-keyframes vanish-in
{
   0% { -ms-transform: rotate(0deg) scale(2,2) ; opacity: 0; -ms-transform-origin: 50% 50%;  }
   100% { -ms-transform: rotate(0deg) scale(1,1) ; opacity: 1; -ms-transform-origin: 50% 50%;  }
}
@keyframes vanish-in
{
   0% { transform: rotate(0deg) scale(2,2) ; opacity: 0; transform-origin: 50% 50%;  }
   100% { transform: rotate(0deg) scale(1,1) ; opacity: 1; transform-origin: 50% 50%;  }
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3
{
   font-family: Arial;
   font-weight: normal;
   font-size: 24px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4
{
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   font-style: normal;
   text-decoration: none;
   color: #2E74B5;
   background-color: transparent;
}
