
html, body
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #FAFAFA;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
#PageHeader1
{
   background-color: #FFFFFF;
   background-image: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#home
{
   background-color: transparent;
   background-image: url(../images/table1_800_faded.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#home-overlay  /*image overlay color*/
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #0AABE1;
   opacity: 0.4;
}
#wb_MaterialIcon15
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px #0AABE1 solid;
   border-radius: 50%;
   text-align: center;
   padding: 16px 16px 16px 16px;
   vertical-align: top;
}
#wb_MaterialIcon15:hover
{
   background-color: #FFA07A;
   background-image: none;
   border: 2px #FFA07A solid;
}
#MaterialIcon15
{
   height: 36px;
   width: 36px;
}
#MaterialIcon15 i
{
   color: #0AABE1;
   display: inline-block;
   font-size: 36px;
   line-height: 36px;
   vertical-align: middle;
   width: 36px;
}
#wb_MaterialIcon15:hover i
{
   color: #FFFFFF;
}
#wb_MaterialIcon15
{
   -webkit-transition: all 500ms linear 0ms;
   -moz-transition: all 500ms linear 0ms;
   transition: all 500ms linear 0ms;
}
#wb_CssMenu1
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #0AABE1;
   border: 0px #5B7B9D solid;
   background-color: #FFFFFF;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   height: 46px;
   line-height: 46px;
   padding: 0px 10px 0px 10px;
   vertical-align: middle;
   text-align: center;
}
#wb_CssMenu1 a:hover,  #wb_CssMenu1 .active
{
   color: #FFFFFF;
   background-color: #0AABE1; /*menu background-color*/
   background-image: none;
   border: 0px #B6AB8C solid;
}
#wb_CssMenu1 li:hover a
{
   color: #FFFFFF;
   background-color: #FFA07A; /*menu background-color FFA07A*/
   background-image: none;
   border: 0px #B6AB8C solid;
}

#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 48px;
   margin: 0;
   text-align: center;
}
#Heading1 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Heading1 a:hover
{
   color: #FFA07A;  /*Get Start hover color*/
   text-decoration: none;
}
#wb_up-arrow
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #245580 solid;
   text-align: center;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_up-arrow:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #245580 solid;
}
#up-arrow
{
   height: 24px;
   width: 24px;
}
#up-arrow i
{
   color: #0AABE1;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 15px;
}


#wb_Carousel1
{
   background-color: transparent;
   background-image: none;
}
#wb_Carousel1
{
   display: block;
   float: left;
   top: 0 !important;
}
#Carousel1 .frame
{
   width: 970px;
   display: inline-block;
   float: left;
   height: 650px;
}
#wb_Carousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 998;
}
#wb_Carousel1 .pagination img
{
   border-style: none;
   padding: 10px 10px 10px 10px;
}
#Carousel1 .frame-1
{
   background-color: transparent;
   background-image: url(../images/phone_tv4_800.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#Carousel1 .frame-2
{
   background-color: transparent;
   background-image: url(../images/table1_800_faded.jpg);
   background-repeat: no-repeat;
   background-position: left center;
   background-size: cover;
}
#Carousel1 .frame-3
{
   background-color: transparent;
   background-image: url(../images/hand_phone1_800_faded.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#wb_LayoutGrid8
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #048BB9;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid8
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid8 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid8 .col-1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid8 .col-1
{
   float: left;
}
#LayoutGrid8 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 100%;
   text-align: center;
}
#LayoutGrid8:before,
#LayoutGrid8:after,
#LayoutGrid8 .row:before,
#LayoutGrid8 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid8:after,
#LayoutGrid8 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid8 .col-1
{
   float: none;
   width: 100%;
}
}
#wb_FontAwesomeIcon3
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px #D0D6D7 solid;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
}
#wb_FontAwesomeIcon3:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px #FFFFFF solid;
}
#FontAwesomeIcon3
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon3 i
{
   color: #0AABE1;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 17px;
}
#wb_FontAwesomeIcon3:hover i
{
   color: #0AABE1;
}
#wb_FontAwesomeIcon8
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px #D0D6D7 solid;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
}
#wb_FontAwesomeIcon8:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px #FFFFFF solid;
}
#FontAwesomeIcon8
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon8 i
{
   color: #0AABE1;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 27px;
}
#wb_FontAwesomeIcon8:hover i
{
   color: #0AABE1;
}
#wb_FontAwesomeIcon10
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px #D0D6D7 solid;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
}
#wb_FontAwesomeIcon10:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px #FFFFFF solid;
}
#FontAwesomeIcon10
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon10 i
{
   color: #0AABE1;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 25px;
}
#wb_FontAwesomeIcon10:hover i
{
   color: #0AABE1;
}
#wb_FontAwesomeIcon11
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px #D0D6D7 solid;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
}
#wb_FontAwesomeIcon11:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px #FFFFFF solid;
}
#FontAwesomeIcon11
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon11 i
{
   color: #0AABE1;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 25px;
}
#wb_FontAwesomeIcon11:hover i
{
   color: #0AABE1;
}

#wb_Title1
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
}
#Title1
{
   color: #FEFEFE;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Title2
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
}
#Title2
{
   color: #FEFEFE;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Title3
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
}
#Title3
{
   color: #FEFEFE;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}

#wb_FontAwesomeIcon26
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px #D0D6D7 solid;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
}
#wb_FontAwesomeIcon26:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px #FFFFFF solid;
}
#FontAwesomeIcon26
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon26 i
{
   color: #0AABE1;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 25px;
}
#wb_FontAwesomeIcon26:hover i
{
   color: #0AABE1;
}
#wb_FontAwesomeIcon27
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px #D0D6D7 solid;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
}
#wb_FontAwesomeIcon27:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px #FFFFFF solid;
}
#FontAwesomeIcon27
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon27 i
{
   color: #0AABE1;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 23px;
}
#wb_FontAwesomeIcon27:hover i
{
   color: #0AABE1;
}
#wb_FontAwesomeIcon28
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px #D0D6D7 solid;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
}
#wb_FontAwesomeIcon28:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px #FFFFFF solid;
}
#FontAwesomeIcon28
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon28 i
{
   color: #0AABE1;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 25px;
}
#wb_FontAwesomeIcon28:hover i
{
   color: #0AABE1;
}

#StickyLayer
{
   background-color: #FFFFFF;
   background-image: none;
   border: 4px #99DCF3 solid;
   border-radius: 50%;
   opacity: 0.80;
}

#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF double;
   padding: 0px 0px 0px 0px;
}
#Heading2
{
   color: #0AABE1;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#Heading2 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Heading2 a:hover
{
   color: #FFA07A;
   text-decoration: none;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
   text-align: left;
}
#Heading3
{
   color: #0AABE1;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   margin: 0;
   text-align: left;
}